/* 	Begin Modified Meyer Reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin:0; padding:0; border:0; font-size:100%; font:inherit; vertical-align:baseline;
}
/* HTML5 reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display:block;
}
body { line-height:1; letter-spacing:-0.25px; overscroll-behavior:contain;}
#container:not([style*="zoom"]) { -webkit-text-size-adjust:none;}
table { border-collapse:collapse; border-spacing:0; }
th { font-weight:normal; text-align:left; }
ul { list-style-type:none; }
.page ol { list-style-position:outside; margin-left:1em; }
/*.page ol > li, .page  ul > li { text-indent:-1em; padding-left:1em; }*/
.page .singleline li, .page .singleline li { text-indent:inherit; padding:0; }
.page ol > li > *, .page ul > li > * { text-indent:initial; padding-left:initial; }
button { background:transparent;border:none; }
/*General styles*/
html, body, #container-wrap, #container { height:100%; }
#container-wrap { position:absolute; top:0; left:0; }
#container-wrap, #container { min-height:100%; width:100%; background-color:transparent; z-index:0;}
b { font-weight:bold; }
i { font-style:italic; }
a { color:inherit; text-decoration:inherit; }
input,select,textarea { font-size:inherit; }
p:first-child { margin-top:inherit !important; }
*{ outline:none; animation-fill-mode:both !important; -webkit-animation-fill-mode:both !important; }
[data-onclick],[onclick],[onrollover],[data-fixed-action],[aria-details],button,.flipwrap{ cursor:pointer; pointer-events:auto; }

body[class^='scaled-none'],body[class*=' scaled-none']{ overflow:auto; }
body[class^='scaled-width'],body[class*=' scaled-width']{ overflow-x:hidden; }
body[class^='scaled-height'],body[class*=' scaled-height']{ overflow-y:hidden; }
body[class^='scaled-best'],body[class*=' scaled-best']{ overflow:hidden; }
body[class^='scaled-best'][data-page-mode^='c'],body[class*=' scaled-best'][data-page-mode^='c']{ overflow:auto; }
body[class^='scaled-width'][data-page-mode^='csh'],body[class*=' scaled-width'][data-page-mode^='csh']{ overflow-x:auto; }
body[class^='scaled-height'][data-page-mode^='csv'],body[class*=' scaled-height'][data-page-mode^='csv']{ overflow-y:auto; }
body[data-scaled-to='w'] #container{ height:auto; min-height:auto; }
body[data-scaled-to='w'][data-page-mode^='cs'] #container{ position:absolute; }
body[data-scaled-to='w'][data-page-mode^='csv'] .pages { padding:0;}
body.zoomed:not([class*='scaled-']) #container { position:absolute; }
body[class*='scaled-'] .pages.paper-vertical{ margin:0; }
body[class^='zoomed'],body[class*=' zoomed']{ overflow-x:auto;overflow-y:auto; }
body[data-scaled-to] .anythingSlider-in5, body[data-scaled-to] #container > .page {padding:0;margin:0;}
body[data-scaled-to] #in5footer { position:fixed; bottom:0;}
/*body[data-scaled-to] * { -webkit-backface-visibility: hidden; }*/ /*fix blurry imgs*/
html.ios body[class*='scaled-'] #container { position:absolute; top:0; left:0; }
body.tall-page {overflow-y:auto;}
.liquid .page.tall-page {height:auto;}

.paper-vertical:after {
    position:relative;
    content:' ';
    display:block;
    height:50px;
    clear:both;
}
body[data-scaled-to="h"] .paper-vertical:after { display:none; }
body[data-scaled-to='h'] .paper-horizontal { margin:0; }
body[data-scaled-to='h'] .paper-horizontal .page { margin-top:0; }

#in5footer,#demoNote,#loadIndicator{
	min-width:100%;
	color:#fff;
	background:#666;
	font-family:"Trebuchet MS", "Lucida Grande", Helvetica, sans-serif;
	text-align:center;
	font-size:15px;
	box-sizing:border-box; 
	-moz-box-sizing:border-box;
}

#loadIndicator{
	width:100%; padding:6px; position:fixed;
	top:0; left:0; margin:auto;
    box-shadow:0 2px 4px rgba(0, 0, 0, 0.3);
    transition:all 1s ease-in .5s;
    opacity:1; z-index:99;
}
body.loaded #loadIndicator {
	opacity:0;
	transform:translateY(-36px);
	-webkit-transform:translateY(-36px);
	display:none\9;/*old IE*/
}
#loadIndicator img {
	vertical-align:text-bottom; width:18px;
}
html.local #loadIndicator, html.dps #loadIndicator, html.baker #loadIndicator { display:none; }

#in5footer{
	height:26px; line-height:26px; clear:both; position:relative; margin-top:-26px;
}

#demoNote {
    right:0; bottom:0; margin:auto;
    height:96px !important;
    padding:36px 10px;
}

#in5footer a, #demoNote a {
	text-decoration:none; color:#99ccff;
}
svg-img{display:block;position:absolute;}
.win-safari svg-img{width:100%;}
svg-img{width:100%\9;}
.spread-shift { position:absolute; }
.pageItem, svg { position:absolute; top:0; left:0; }
svg { overflow:visible; }
.pageItem {
	display:block;
	width:auto !important; height:auto !important;
	box-sizing:border-box; 
	-moz-box-sizing:border-box;
	-webkit-tap-highlight-color:transparent;
	padding:0;
}
.pageItem.hd/*, .pageItem img.hd*/  {
	-ms-transform:scale(.5);
    -ms-transform-origin:0 0 0;
    -webkit-transform:scale(.5);
    -webkit-transform-origin:0 0 0;
    transform:scale(.5);
    transform-origin:0 0 0;
}
@media screen and (-webkit-min-device-pixel-ratio:0) and (min-resolution:.001dpcm) {
    .pageItem { image-rendering: -webkit-optimize-contrast; }
}
@media not all and (min-resolution:.001dpcm)
{ @supports (-webkit-appearance:none) and (stroke-color:transparent) {
    .pageItem { image-rendering: optimizeSpeed; }
}}
@-moz-document url-prefix() {
  .pageItem { image-rendering: optimizeQuality; }
}
.svg-wrap { width:inherit !important; height:inherit !important; }
.pageItem p img { vertical-align:text-top; }
.pageItem p input, .pageItem p button {display:inline;}
.pageItem p .hidden, .details {visibility:hidden; }
.pageItem.group[data-ani] { will-change: transform; }
#colorbox .details { visibility:visible; }
.details {max-width:550px;font-size:18px;font-family:sans-serif;padding:0 24px;line-height:150%;left:0;right:0;margin:auto;}
.details p {margin-top:.5em;}
.details h1,.details h2,.details h3,.details h4,.details h5, .details strong {font-weight:bold;margin:.7em 0;}
.details em { font-style:italic; }
.details h1{font-size:150%;} .details h2{font-size:140%;} .details h3{font-size:130%;}
.details a {color:#0099ff;text-decoration:underline}
.details a:hover {text-decoration:none;}
@media (max-device-width:812px){ .details { font-size:32px; } }
html.ios .iframe-container { overflow:auto; -webkit-overflow-scrolling:touch; }
iframe[scrolling="auto"] { overflow:auto; }
iframe[scrolling="yes"] { overflow:scroll; }
iframe[scrolling="no"] { overflow:hidden; }
.page-scale-wrap { transform:translateZ(0); }
.page, .page-scale-wrap {
	position:relative; float:left; overflow:hidden;
}
.pages {
	list-style:none outside none;
	padding:0; margin:0 auto ;
}	
#container > .page { /*center single page baker*/
    position:absolute; bottom:0;
    left:0; right:0; top:0; margin:0 auto;
}
body:not(.zoomed,.responsive) #container/*, .page-scale-wrap*/ {/*desktop scaling transitions*/
	-webkit-transition:-webkit-transform .5s;
	transition:transform .5s;
}
html.multifile body #container { opacity:0; }
html.multifile body.loaded #container {/*do show scaling of multi-page*/
	opacity:1;
	-ms-transition:opacity .1s step-start .1s !important;
	-webkit-transition:opacity .1s step-start .1s !important;
	transition:opacity .1s step-start .1s !important;
}
html.multifile.fade body.loaded #container {
	-ms-transition:opacity .6s !important;
	-webkit-transition:opacity .6s !important;
	transition:opacity .6s !important;
}

.textColumn { float:left; }
.singleline p { line-height:1em !important; position:absolute;width:100%;/*fix webkit display issue*/ }
p.col-break-before::before {
	content:'';
    height:0px; width:100%;
    display:block; margin-bottom:100%;
}
.scroll, .scroll-vert, .scroll-horiz { -webkit-overflow-scrolling:touch; }/*was broken in iOS, turn off if scroll not working*/
.scroll { overflow:auto; }
.scroll-vert { overflow-y:auto; overflow-x:hidden; }
.scroll-horiz { overflow-x:auto; overflow-y:hidden; }
.scroll-vert::-webkit-scrollbar { -webkit-appearance:none; width:7px; } /*add back scrollbar for webkit*/
.scroll-vert::-webkit-scrollbar-thumb { border-radius:4px; background-color:rgba(0,0,0,.5); }
.hidescroll::-webkit-scrollbar { display:none; }
.hidescroll { -ms-overflow-style:none; overflow:-moz-scrollbars-none;/*old FF*/ }
.pulltab-left, .pulltab-left > * {
	-moz-transform:scaleX(-1);
    -webkit-transform:scaleX(-1);
    -o-transform:scaleX(-1);
    transform:scaleX(-1);
}
.pulltab-top, .pulltab-top > * {
	-moz-transform:scaleY(-1);
    -webkit-transform:scaleY(-1);
    -o-transform:scaleY(-1);
    transform:scaleY(-1);
}
object, embed, img, a { outline:0; }
.liquid svg, .liquid .page-scale-wrap { height:100%; width:100%; }
.noPlugin {
	width:100%; height:100%; padding:6px;
	background:#ccc; border:1px solid #666;
}

.paper-vertical, .paper-horizontal { padding:0 8px; }
.flip { 
	overflow:hidden; 
	-webkit-transition:transform 0.3s ease-in-out;
	-ms-transition:transform 0.3s ease-in-out;
	transition:transform 0.3s ease-in-out;
}
.turn-page-wrapper{
	will-change:transform;
}
.turn-page {
	-moz-box-shadow:0px 0px 20px rgba(0,0,0,.7);
	-webkit-box-shadow:0px 0px 20px rgba(0,0,0,.7);
    box-shadow:0px 0px 20px rgba(0,0,0,.7);
}
.turn-page:not(.activePage) .pageItem[data-ani] { /*fix 2x animation*/
  	opacity:0;
  	animation:none !important;
}
.paper-horizontal {
	position:absolute; overflow-y:visible; overflow-x:hidden;
	margin-top:auto; margin-bottom:auto;
    top:0; bottom:0;
}

.paper-vertical .page, .paper-horizontal .page {
	border:1px solid #bbb;	
	margin:4px 4px 4px 0;
	-moz-box-shadow:0px 0px 0px #999;
	-webkit-box-shadow:0px 0px 5px #999;
	box-shadow:0px 0px 5px #999;
}

html[data-dir="rtl"] .paper-horizontal .page { float:right; }

.one-page-scroll .page {
	border:none;
	margin:0;
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
	box-shadow:none;
}

.mejs-mediaelement { overflow:hidden; }
.mejs-container{position:relative;background:none;}
.mejs-none .mejs-overlay-loading, .mejs-none .mejs-overlay-button, .mejs-none .mejs-controls, .mejs-bigplay .mejs-controls {display:none !important;}
.mejs-uncon video { object-fit:fill; }
.mejs-coverfit video { object-fit:cover; }
.mejs-ccsize-large .mejs-captions-layer {font-size:20px;}
.mejs-ccsize-xlarge .mejs-captions-layer {font-size:26px;}
.mejs-video .mejs-controls { transform:translateZ(0); }

.mejs-no-controls { display:none; }
.vid-scaled .mejs-layers, .vid-scaled .mejs-controls {
	-webkit-transform:translateZ(0);
	transform:translateZ(0);
}

.liquid .page, .page.liquid {
	position:absolute; width:100%; height:100%;
	overflow:hidden; display:none;
}

.page.liquid { /*for multi-file*/
    display:block;
}
.liquid .page.activePage {display:block; }
.liquid video {width:100%; height:100%; }
.liquid .slideshow img { object-fit:contain; }

.in5-highlight {
	background:rgba(255,255,0,.6);
	mix-blend-mode:multiply;
	pointer-events:none;
	animation-name:in5-highlight-in,in5-highlight-in;
	animation-direction:normal,reverse;
	animation-delay:3s,3s;
	animation-duration:.5s,1s;
	animation-iteration-count:1,1;
}
@keyframes in5-highlight-in{ from{ opacity:0 } to { opacity: 1} }
.hidden { display:none !important; }
.skip-link-wrap { z-index: 1; position: fixed; }
[data-reader-only="1"]{
	transform: translateY(-100vh) !important;
	z-index:-1;
}
[data-reader-only="1"]:focus, [data-reader-only="1"]:active {
	transform: translateY(0%) !important;
	z-index:1;
}
.mso, .group, .mso > .state { pointer-events:none; }
.mso > .state * { pointer-events: inherit; }
.mso > .state.active * { pointer-events:auto; }
[data-tapstart="1"], [data-useswipe="1"], .group > * { pointer-events:auto; }
.mso > .state { display:block; opacity:0; width:100% !important; height:inherit !important; position:absolute; z-index:-1; }
.liquid .mso > .state { height:100% !important; }
.liquid label > .state {
    width:100% !important;
    height:100% !important;
}
.mso > .state.active, .mso > .state.transition { display:block; opacity:1; z-index:0; }
.mso.slideshow.seq, .panzoom, .fauxgroup { overflow:hidden; }
.panzoom { cursor:move; cursor:-moz-grab; cursor:-webkit-grab; }
.panzoom > .content {
	-ms-transform:none;
    -ms-transform-origin:auto;
    -webkit-transform:none;
    -webkit-transform-origin:auto;
    transform:none;
    transform-origin:auto;
}
.panzoom:not(.dragging) > .content {
	transition:all .3s;
}

button .state {width:100% !important; height:100% !important;}
button .state.btn-on, button .state.btn-down { display:none; }
html:not(.ios) button.has-on:hover .state.btn-on { display:block; }
html:not(.ios) button.has-on:hover .state.btn-off, html:not(.ios) button.has-on:hover .state.btn-down { display:none; }
html:not(.zz) button.has-down .state { pointer-events:none; }
html:not(.zz) button.has-down:active .state.btn-down { display:block; }
html:not(.zz) button.has-down:active .state.btn-off, html:not(.zz) button.has-down:active .state.btn-on { display:none; }

.align-vert { display:table; }
[class^="valign"] {
	position:relative;
	display:table-cell;
	vertical-align:middle;
	columns:inherit;
}
.valign-bottom { vertical-align:bottom; }
[class^="valign"] > p { position:relative; }

.flex-image, .fill-image { background-repeat:no-repeat; }
.flex-image { background-size:contain; background-position:center; }
.fill-image { background-size:cover; }

/*tabs*/
p.tabs, p.tabs > a { 
	display:-webkit-box;
	display:-moz-box;
	display:-ms-flexbox;
	display:-webkit-flex;
	display:flex;
	flex-wrap:wrap;
}
p.tabs > a {
	width:100%;
	width:-moz-available;
	width:-webkit-fill-available;
}
p.tabs span.tabbed-right { 
	-ms-flex-grow:1; 
	-webkit-flex-grow:1; 
	flex-grow:1; 
	text-align:right; 
}
p.tabs span.tabbed-center { 
	-ms-flex-grow:50; 
	-webkit-flex-grow:50; 
	flex-grow:50; 
	text-align:center; 
}
span.tabbed-standard { text-indent:2ex;padding-left:2ex; }
p.no-start-indent { text-indent:0px !important; }

/*anchor object styles*/
.ao-noTextWrap { position:absolute; }
.ao-alignLeft, .ao-leftFullWidth { float:left; position:relative; }
.ao-alignRight, .ao-rightFullWidth { float:right; transform-origin:90% 50%; -webkit-transform:90% 50%; /*fix for anchored animation*/ }
.ao-alignCenter {display:block; margin-left:auto; margin-right:auto;}
.ao-inlineTable { display:block; }
.ao-leftFullWidth { padding-right:100%; }
.ao-rightFullWidth { padding-left:100%; }
.anchorGroup { position:relative; };
div.ao-alignLeft:before, div.ao-leftFullWidth:before { content:''; float:left; display:none; }
div.ao-alignRight:before, div.ao-leftFullRight:before { content:''; float:right; display:none; }
.anchorGroup > .mso, .anchorGroup > .group { position:relative; }

ul.thumbs {
	padding:20px; white-space:nowrap; width:1px;
}

ul.thumbs li { /*Baker index thumbnails*/
    display:inline; list-style-type:none;
    margin:0 4px; outline:none;
    vertical-align:top;
}
ul.thumbs > li img { box-shadow:0 0 4px rgba(0, 0, 0, 0.5); }
.baker audio[controls] {min-width:400px;} /*fix progress bar*/

@media print { 
	#container,.page-scale-wrap{transform:none !important;}
	[class*=" btn-form-"]{display:none;}
}

:-ms-fullscreen .paper-horizontal { width:auto;height:auto;position:initial;margin:auto; }
:-moz-full-screen .paper-horizontal { width:auto;height:auto;position:initial;margin:auto; }
:-webkit-full-screen .paper-horizontal { width:auto;height:auto;position:initial;margin:auto; }

:-ms-fullscreen .paper-vertical .page { display:none; }
:-moz-full-screen .paper-vertical .page { display:none; }
:-webkit-full-screen .paper-vertical .page { display:none; }

:-ms-fullscreen .paper-horizontal .page { display:none; }
:-moz-full-screen .paper-horizontal .page { display:none; }
:-webkit-full-screen .paper-horizontal .page { display:none; }

:-ms-fullscreen .page.activePage { display:block; }
:-moz-full-screen .page.activePage { display:block; }
:-webkit-full-screen .page.activePage { display:block; }

:-webkit-full-screen .hideFS { display:none; }
:-ms-fullscreen .hideFS { display:none; }
:-moz-full-screen .hideFS { display:none; }

/*CSS Generated from InDesign Styles*/

body, #container-wrap { background:transparent; }
:-webkit-full-screen { background:transparent; }
#loadIndicator span:after { padding-left:1ex; content:'loading content...'; }
#slider { width:1180px; height:820px; }
.page-scale-wrap { width:1180px; height:820px; background: #fff !important; }
.paper-vertical { width:1180px; height:100%; }
.paper-horizontal { width:15470px; height:832px; }
@media all and (max-height:820px) {
	.paper-horizontal { margin:0;top:0;}
	#container > .page { margin:0 auto;}/*pos top for webkit+baker*/
}
@media all and (max-width:1180px) {
	.paper-vertical .page, .paper-horizontal .page, .anythingSlider-in5 { padding:0;top:0;border:0; }
	.paper-vertical, .paper-horizontal { padding:0; }
}

#item3936 {
	width:1180px !important;
	height:549px !important;
	background:#253885;
}

#item4090 {
	width:1129px !important;
	height:630px !important;
	top:190px !important;
	border-radius:0 40px 0 0;
	background:#ffffff;
}

#item3929 {
	width:356px !important;
	left:697px !important;
	top:125px !important;
	min-height:22px !important;
}

#item4772 {
	width:39px !important;
	height:6px !important;
	left:697px !important;
	top:161px !important;
	background:#f28620;
}

#item7927 {
	width:143px !important;
	height:54px !important;
	left:50px !important;
	top:30px !important;
}

#item9023 {
	width:457px !important;
	left:202px !important;
	top:69px !important;
	min-height:15px !important;
}

#item26588 {
	width:439px !important;
	height:142px !important;
}

#item26592 {
	width:83px !important;
	left:155px !important;
	top:54px !important;
	min-height:18px !important;
}

#item26422 {
	width:439px !important;
	height:142px !important;
}

#item15032 {
	width:83px !important;
	left:155px !important;
	top:54px !important;
	min-height:18px !important;
}

#item26555 {
	width:439px !important;
	height:142px !important;
	left:686px !important;
	top:209px !important;
}

#item26619 {
	width:439px !important;
	height:142px !important;
}

#item26624 {
	width:192px !important;
	left:155px !important;
	top:54px !important;
	min-height:18px !important;
}

#item26423 {
	width:439px !important;
	height:142px !important;
}

#item15037 {
	width:192px !important;
	left:155px !important;
	top:54px !important;
	min-height:18px !important;
}

#item26554 {
	width:439px !important;
	height:142px !important;
	left:686px !important;
	top:344px !important;
}

#item26650 {
	width:439px !important;
	height:142px !important;
}

#item26653 {
	width:205px !important;
	left:155px !important;
	top:54px !important;
	min-height:18px !important;
}

#item26426 {
	width:439px !important;
	height:142px !important;
}

#item15062 {
	width:205px !important;
	left:155px !important;
	top:54px !important;
	min-height:18px !important;
}

#item26553 {
	width:439px !important;
	height:142px !important;
	left:686px !important;
	top:479px !important;
}

#item26679 {
	width:439px !important;
	height:142px !important;
}

#item26684 {
	width:86px !important;
	left:155px !important;
	top:54px !important;
	min-height:18px !important;
}

#item26429 {
	width:439px !important;
	height:142px !important;
}

#item15092 {
	width:86px !important;
	left:155px !important;
	top:54px !important;
	min-height:18px !important;
}

#item26552 {
	width:439px !important;
	height:142px !important;
	left:686px !important;
	top:613px !important;
}

#item16252 {
	width:1180px !important;
	height:125px !important;
	background:#253885;
}

#item5782 {
	width:328px !important;
	left:50px !important;
	top:246px !important;
	min-height:167px !important;
}

#item7943 {
	width:105px !important;
	height:48px !important;
	left:50px !important;
	top:440px !important;
}

#item7950 {
	width:105px !important;
	height:48px !important;
	left:50px !important;
	top:574px !important;
}

#item5809 {
	width:265px !important;
	height:303px !important;
	left:425px !important;
	top:288px !important;
}

#item5851 {
	width:273px !important;
	left:857px !important;
	top:256px !important;
	min-height:62px !important;
}

#item5876 {
	width:273px !important;
	left:857px !important;
	top:376px !important;
	min-height:62px !important;
}

#item5901 {
	width:273px !important;
	left:857px !important;
	top:501px !important;
	min-height:48px !important;
}

#item5926 {
	width:273px !important;
	left:857px !important;
	top:612px !important;
	min-height:62px !important;
}

#item5975 {
	width:254px !important;
	left:50px !important;
	top:170px !important;
	min-height:22px !important;
}

#item6000 {
	width:39px !important;
	height:6px !important;
	left:50px !important;
	top:204px !important;
	background:#f28620;
}

#item28041 {
	width:143px !important;
	height:54px !important;
}

#item7922 {
	width:143px !important;
	height:54px !important;
}

#item28037 {
	width:143px !important;
	height:54px !important;
	left:50px !important;
	top:30px !important;
}

#item8110 {
	width:77px !important;
	height:65px !important;
}

#item8106 {
	width:77px !important;
	height:65px !important;
}

#item8103 {
	width:77px !important;
	height:65px !important;
	left:1053px !important;
	top:30px !important;
}

#item8412 {
	width:86px !important;
	height:86px !important;
	left:754px !important;
	top:245px !important;
}

#item8423 {
	width:84px !important;
	height:86px !important;
	left:754px !important;
	top:364px !important;
}

#item8433 {
	width:80px !important;
	height:84px !important;
	left:754px !important;
	top:483px !important;
}

#item8443 {
	width:86px !important;
	height:86px !important;
	left:754px !important;
	top:599px !important;
}

#item16081 {
	width:259px !important;
	left:50px !important;
	top:503px !important;
	min-height:57px !important;
}

#item16106 {
	width:226px !important;
	left:50px !important;
	top:637px !important;
	min-height:44px !important;
}

#item39275 {
	width:143px !important;
	height:54px !important;
}

#item39272 {
	width:143px !important;
	height:54px !important;
	left:407px !important;
	top:35px !important;
}

#item39303 {
	width:92px !important;
	height:54px !important;
}

#item39300 {
	width:92px !important;
	height:54px !important;
	left:265px !important;
	top:35px !important;
}

#item39332 {
	width:152px !important;
	height:54px !important;
}

#item39328 {
	width:152px !important;
	height:54px !important;
	left:608px !important;
	top:35px !important;
}

#item39360 {
	width:100px !important;
	height:54px !important;
}

#item39357 {
	width:100px !important;
	height:54px !important;
	left:817px !important;
	top:35px !important;
}

#item16251 {
	width:1180px !important;
	height:125px !important;
	background:#253885;
}

#item27524 {
	width:347px !important;
	height:172px !important;
}

#item27529 {
	width:134px !important;
	height:83px !important;
	left:156px !important;
	top:36px !important;
}

#item10287 {
	width:347px !important;
	height:172px !important;
}

#item5273 {
	width:134px !important;
	height:83px !important;
	left:156px !important;
	top:36px !important;
}

#item27522 {
	width:347px !important;
	height:172px !important;
	left:47px !important;
	top:236px !important;
}

#item27735 {
	width:347px !important;
	height:172px !important;
}

#item27738 {
	width:156px !important;
	height:87px !important;
	left:158px !important;
	top:36px !important;
}

#item26796 {
	width:347px !important;
	height:172px !important;
}

#item10129 {
	width:156px !important;
	height:87px !important;
	left:158px !important;
	top:36px !important;
}

#item27515 {
	width:347px !important;
	height:172px !important;
	left:421px !important;
	top:590px !important;
}

#item27644 {
	width:347px !important;
	height:172px !important;
}

#item27647 {
	width:163px !important;
	height:87px !important;
	left:158px !important;
	top:34px !important;
}

#item26768 {
	width:347px !important;
	height:172px !important;
}

#item9449 {
	width:163px !important;
	height:87px !important;
	left:158px !important;
	top:34px !important;
}

#item27518 {
	width:347px !important;
	height:172px !important;
	left:421px !important;
	top:413px !important;
}

#item4914 {
	width:254px !important;
	left:50px !important;
	top:170px !important;
	min-height:22px !important;
}

#item4939 {
	width:39px !important;
	height:6px !important;
	left:50px !important;
	top:204px !important;
	background:#f28620;
}

#item27614 {
	width:347px !important;
	height:172px !important;
}

#item27617 {
	width:147px !important;
	height:83px !important;
	left:156px !important;
	top:36px !important;
}

#item26764 {
	width:347px !important;
	height:172px !important;
}

#item9399 {
	width:147px !important;
	height:83px !important;
	left:156px !important;
	top:36px !important;
}

#item27517 {
	width:347px !important;
	height:172px !important;
	left:47px !important;
	top:413px !important;
}

#item27704 {
	width:347px !important;
	height:172px !important;
}

#item27708 {
	width:157px !important;
	height:87px !important;
	left:156px !important;
	top:36px !important;
}

#item26792 {
	width:347px !important;
	height:172px !important;
}

#item9567 {
	width:157px !important;
	height:87px !important;
	left:156px !important;
	top:36px !important;
}

#item27516 {
	width:347px !important;
	height:172px !important;
	left:47px !important;
	top:590px !important;
}

#item27775 {
	width:347px !important;
	height:172px !important;
}

#item27779 {
	width:134px !important;
	height:63px !important;
	left:157px !important;
	top:48px !important;
}

#item26803 {
	width:347px !important;
	height:172px !important;
}

#item10104 {
	width:134px !important;
	height:63px !important;
	left:157px !important;
	top:48px !important;
}

#item27514 {
	width:347px !important;
	height:172px !important;
	left:795px !important;
	top:590px !important;
}

#item27555 {
	width:347px !important;
	height:172px !important;
}

#item27558 {
	width:117px !important;
	height:87px !important;
	left:158px !important;
	top:33px !important;
}

#item26755 {
	width:347px !important;
	height:172px !important;
}

#item9231 {
	width:117px !important;
	height:87px !important;
	left:158px !important;
	top:33px !important;
}

#item27521 {
	width:347px !important;
	height:172px !important;
	left:421px !important;
	top:236px !important;
}

#item27674 {
	width:347px !important;
	height:172px !important;
}

#item27678 {
	width:139px !important;
	height:87px !important;
	left:157px !important;
	top:34px !important;
}

#item26771 {
	width:347px !important;
	height:172px !important;
}

#item9424 {
	width:139px !important;
	height:87px !important;
	left:157px !important;
	top:34px !important;
}

#item27519 {
	width:347px !important;
	height:172px !important;
	left:795px !important;
	top:413px !important;
}

#item27584 {
	width:347px !important;
	height:172px !important;
}

#item27588 {
	width:116px !important;
	height:63px !important;
	left:157px !important;
	top:45px !important;
}

#item26759 {
	width:347px !important;
	height:172px !important;
}

#item9292 {
	width:116px !important;
	height:63px !important;
	left:157px !important;
	top:45px !important;
}

#item27520 {
	width:347px !important;
	height:172px !important;
	left:795px !important;
	top:236px !important;
}

#item8098 {
	width:77px !important;
	height:65px !important;
}

#item8093 {
	width:77px !important;
	height:65px !important;
}

#item8090 {
	width:77px !important;
	height:65px !important;
	left:1053px !important;
	top:30px !important;
}

#item30688 {
	width:143px !important;
	height:54px !important;
}

#item30683 {
	width:143px !important;
	height:54px !important;
}

#item30680 {
	width:143px !important;
	height:54px !important;
	left:50px !important;
	top:30px !important;
}

#item39151 {
	width:143px !important;
	height:54px !important;
}

#item39148 {
	width:143px !important;
	height:54px !important;
	left:407px !important;
	top:35px !important;
}

#item39179 {
	width:92px !important;
	height:54px !important;
}

#item39176 {
	width:92px !important;
	height:54px !important;
	left:265px !important;
	top:35px !important;
}

#item39207 {
	width:152px !important;
	height:54px !important;
}

#item39204 {
	width:152px !important;
	height:54px !important;
	left:608px !important;
	top:35px !important;
}

#item39235 {
	width:100px !important;
	height:54px !important;
}

#item39232 {
	width:100px !important;
	height:54px !important;
	left:817px !important;
	top:35px !important;
}

#item16250 {
	width:1180px !important;
	height:125px !important;
	background:#253885;
}

#item12633 {
	width:143px !important;
	height:54px !important;
	left:50px !important;
	top:30px !important;
}

#item12643 {
	width:77px !important;
	height:65px !important;
}

#item12639 {
	width:77px !important;
	height:65px !important;
}

#item12636 {
	width:77px !important;
	height:65px !important;
	left:1053px !important;
	top:30px !important;
}

#item12671 {
	width:1006px !important;
	left:50px !important;
	top:170px !important;
	min-height:22px !important;
}

#item12697 {
	width:39px !important;
	height:6px !important;
	left:50px !important;
	top:204px !important;
	background:#f28620;
}

#item12698 {
	width:240px !important;
	left:50px !important;
	top:404px !important;
	min-height:259px !important;
}

#item12723 {
	width:240px !important;
	left:615px !important;
	top:245px !important;
	min-height:418px !important;
}

#item12748 {
	width:240px !important;
	left:890px !important;
	top:245px !important;
	min-height:406px !important;
}

#item12785 {
	width:77px !important;
	height:65px !important;
}

#item12781 {
	width:77px !important;
	height:65px !important;
}

#item12778 {
	width:77px !important;
	height:65px !important;
	left:1053px !important;
	top:30px !important;
}

#item14749 {
	width:77px !important;
	height:65px !important;
}

#item14765 {
	width:77px !important;
	height:65px !important;
	left:971px !important;
	top:30px !important;
}

#item30699 {
	width:143px !important;
	height:54px !important;
}

#item30695 {
	width:143px !important;
	height:54px !important;
}

#item30692 {
	width:143px !important;
	height:54px !important;
	left:50px !important;
	top:30px !important;
}

#item39027 {
	width:143px !important;
	height:54px !important;
}

#item39024 {
	width:143px !important;
	height:54px !important;
	left:407px !important;
	top:35px !important;
}

#item39056 {
	width:92px !important;
	height:54px !important;
}

#item39052 {
	width:92px !important;
	height:54px !important;
	left:265px !important;
	top:35px !important;
}

#item39084 {
	width:152px !important;
	height:54px !important;
}

#item39081 {
	width:152px !important;
	height:54px !important;
	left:608px !important;
	top:35px !important;
}

#item39112 {
	width:100px !important;
	height:54px !important;
}

#item39109 {
	width:100px !important;
	height:54px !important;
	left:817px !important;
	top:35px !important;
}

#item16249 {
	width:1180px !important;
	height:125px !important;
	background:#253885;
}

#item13524 {
	width:143px !important;
	height:54px !important;
	left:50px !important;
	top:30px !important;
}

#item13536 {
	width:77px !important;
	height:65px !important;
}

#item13530 {
	width:77px !important;
	height:65px !important;
}

#item13527 {
	width:77px !important;
	height:65px !important;
	left:1053px !important;
	top:30px !important;
}

#item13568 {
	width:771px !important;
	left:50px !important;
	top:170px !important;
	min-height:58px !important;
}

#item13593 {
	width:39px !important;
	height:6px !important;
	left:50px !important;
	top:240px !important;
	background:#f28620;
}

#item13594 {
	width:240px !important;
	left:50px !important;
	top:282px !important;
	min-height:173px !important;
}

#item13619 {
	width:240px !important;
	left:615px !important;
	top:282px !important;
	min-height:360px !important;
}

#item13645 {
	width:240px !important;
	left:890px !important;
	top:498px !important;
	min-height:144px !important;
}

#item13682 {
	width:77px !important;
	height:65px !important;
}

#item13677 {
	width:77px !important;
	height:65px !important;
}

#item13674 {
	width:77px !important;
	height:65px !important;
	left:1053px !important;
	top:30px !important;
}

#item14771 {
	width:77px !important;
	height:65px !important;
}

#item14768 {
	width:77px !important;
	height:65px !important;
	left:971px !important;
	top:30px !important;
}

#item30710 {
	width:143px !important;
	height:54px !important;
}

#item30706 {
	width:143px !important;
	height:54px !important;
}

#item30703 {
	width:143px !important;
	height:54px !important;
	left:50px !important;
	top:30px !important;
}

#item37975 {
	width:143px !important;
	height:54px !important;
}

#item37972 {
	width:143px !important;
	height:54px !important;
	left:407px !important;
	top:35px !important;
}

#item38003 {
	width:92px !important;
	height:54px !important;
}

#item38000 {
	width:92px !important;
	height:54px !important;
	left:265px !important;
	top:35px !important;
}

#item38031 {
	width:152px !important;
	height:54px !important;
}

#item38028 {
	width:152px !important;
	height:54px !important;
	left:608px !important;
	top:35px !important;
}

#item38059 {
	width:100px !important;
	height:54px !important;
}

#item38056 {
	width:100px !important;
	height:54px !important;
	left:817px !important;
	top:35px !important;
}

#item16243 {
	width:1180px !important;
	height:125px !important;
	background:#253885;
}

#item11011 {
	width:77px !important;
	height:65px !important;
}

#item11006 {
	width:77px !important;
	height:65px !important;
}

#item11002 {
	width:77px !important;
	height:65px !important;
	left:1053px !important;
	top:30px !important;
}

#item12855 {
	width:769px !important;
	left:50px !important;
	top:170px !important;
	min-height:58px !important;
}

#item12880 {
	width:39px !important;
	height:6px !important;
	left:50px !important;
	top:241px !important;
	background:#f28620;
}

#item12984 {
	width:240px !important;
	left:50px !important;
	top:486px !important;
	min-height:259px !important;
}

#item12907 {
	width:240px !important;
	left:610px !important;
	top:282px !important;
	min-height:303px !important;
}

#item12932 {
	width:240px !important;
	left:890px !important;
	top:282px !important;
	min-height:303px !important;
}

#item14777 {
	width:77px !important;
	height:65px !important;
}

#item14774 {
	width:77px !important;
	height:65px !important;
	left:971px !important;
	top:30px !important;
}

#item28823 {
	width:143px !important;
	height:54px !important;
}

#item28820 {
	width:143px !important;
	height:54px !important;
	left:407px !important;
	top:35px !important;
}

#item28877 {
	width:92px !important;
	height:54px !important;
}

#item28874 {
	width:92px !important;
	height:54px !important;
	left:265px !important;
	top:35px !important;
}

#item28931 {
	width:152px !important;
	height:54px !important;
}

#item28928 {
	width:152px !important;
	height:54px !important;
	left:608px !important;
	top:35px !important;
}

#item28985 {
	width:100px !important;
	height:54px !important;
}

#item28982 {
	width:100px !important;
	height:54px !important;
	left:817px !important;
	top:35px !important;
}

#item30721 {
	width:143px !important;
	height:54px !important;
}

#item30716 {
	width:143px !important;
	height:54px !important;
}

#item30713 {
	width:143px !important;
	height:54px !important;
	left:50px !important;
	top:30px !important;
}

#item16242 {
	width:1180px !important;
	height:125px !important;
	background:#253885;
}

#item11060 {
	width:77px !important;
	height:65px !important;
}

#item11054 {
	width:77px !important;
	height:65px !important;
}

#item11051 {
	width:77px !important;
	height:65px !important;
	left:1053px !important;
	top:30px !important;
}

#item13310 {
	width:240px !important;
	left:50px !important;
	top:245px !important;
	min-height:274px !important;
}

#item13335 {
	width:240px !important;
	left:615px !important;
	top:500px !important;
	min-height:245px !important;
}

#item13360 {
	width:240px !important;
	left:890px !important;
	top:500px !important;
	min-height:221px !important;
}

#item13418 {
	width:582px !important;
	left:50px !important;
	top:170px !important;
	min-height:22px !important;
}

#item13443 {
	width:39px !important;
	height:6px !important;
	left:50px !important;
	top:204px !important;
	background:#f28620;
}

#item14783 {
	width:77px !important;
	height:65px !important;
}

#item14780 {
	width:77px !important;
	height:65px !important;
	left:971px !important;
	top:30px !important;
}

#item30734 {
	width:143px !important;
	height:54px !important;
}

#item30728 {
	width:143px !important;
	height:54px !important;
}

#item30725 {
	width:143px !important;
	height:54px !important;
	left:50px !important;
	top:30px !important;
}

#item38102 {
	width:143px !important;
	height:54px !important;
}

#item38099 {
	width:143px !important;
	height:54px !important;
	left:407px !important;
	top:35px !important;
}

#item38130 {
	width:92px !important;
	height:54px !important;
}

#item38127 {
	width:92px !important;
	height:54px !important;
	left:265px !important;
	top:35px !important;
}

#item38158 {
	width:152px !important;
	height:54px !important;
}

#item38155 {
	width:152px !important;
	height:54px !important;
	left:608px !important;
	top:35px !important;
}

#item38186 {
	width:100px !important;
	height:54px !important;
}

#item38183 {
	width:100px !important;
	height:54px !important;
	left:817px !important;
	top:35px !important;
}

#item16240 {
	width:1180px !important;
	height:125px !important;
	background:#253885;
}

#item14474 {
	width:1080px !important;
	height:612px !important;
	left:50px !important;
	top:125px !important;
}

#item11155 {
	width:77px !important;
	height:65px !important;
}

#item11151 {
	width:77px !important;
	height:65px !important;
}

#item11148 {
	width:77px !important;
	height:65px !important;
	left:1053px !important;
	top:30px !important;
}

#item14796 {
	width:77px !important;
	height:65px !important;
}

#item14792 {
	width:77px !important;
	height:65px !important;
	left:971px !important;
	top:30px !important;
}

#item30745 {
	width:143px !important;
	height:54px !important;
}

#item30741 {
	width:143px !important;
	height:54px !important;
}

#item30738 {
	width:143px !important;
	height:54px !important;
	left:50px !important;
	top:30px !important;
}

#item38236 {
	width:143px !important;
	height:54px !important;
}

#item38233 {
	width:143px !important;
	height:54px !important;
	left:407px !important;
	top:35px !important;
}

#item38265 {
	width:92px !important;
	height:54px !important;
}

#item38261 {
	width:92px !important;
	height:54px !important;
	left:265px !important;
	top:35px !important;
}

#item38293 {
	width:152px !important;
	height:54px !important;
}

#item38290 {
	width:152px !important;
	height:54px !important;
	left:608px !important;
	top:35px !important;
}

#item38321 {
	width:100px !important;
	height:54px !important;
}

#item38318 {
	width:100px !important;
	height:54px !important;
	left:817px !important;
	top:35px !important;
}

#item16239 {
	width:1180px !important;
	height:125px !important;
	background:#253885;
}

#item12235 {
	width:77px !important;
	height:65px !important;
}

#item12231 {
	width:77px !important;
	height:65px !important;
}

#item12228 {
	width:77px !important;
	height:65px !important;
	left:1053px !important;
	top:30px !important;
}

#item12343 {
	width:854px !important;
	left:50px !important;
	top:170px !important;
	min-height:22px !important;
}

#item12369 {
	width:39px !important;
	height:6px !important;
	left:50px !important;
	top:204px !important;
	background:#f28620;
}

#item13184 {
	width:240px !important;
	left:50px !important;
	top:245px !important;
	min-height:274px !important;
}

#item13209 {
	width:240px !important;
	left:610px !important;
	top:245px !important;
	min-height:245px !important;
}

#item13235 {
	width:240px !important;
	left:890px !important;
	top:372px !important;
	min-height:373px !important;
}

#item14802 {
	width:77px !important;
	height:65px !important;
}

#item14799 {
	width:77px !important;
	height:65px !important;
	left:971px !important;
	top:30px !important;
}

#item30757 {
	width:143px !important;
	height:54px !important;
}

#item30752 {
	width:143px !important;
	height:54px !important;
}

#item30749 {
	width:143px !important;
	height:54px !important;
	left:50px !important;
	top:30px !important;
}

#item38368 {
	width:143px !important;
	height:54px !important;
}

#item38365 {
	width:143px !important;
	height:54px !important;
	left:407px !important;
	top:35px !important;
}

#item38396 {
	width:92px !important;
	height:54px !important;
}

#item38393 {
	width:92px !important;
	height:54px !important;
	left:265px !important;
	top:35px !important;
}

#item38424 {
	width:152px !important;
	height:54px !important;
}

#item38421 {
	width:152px !important;
	height:54px !important;
	left:608px !important;
	top:35px !important;
}

#item38452 {
	width:100px !important;
	height:54px !important;
}

#item38449 {
	width:100px !important;
	height:54px !important;
	left:817px !important;
	top:35px !important;
}

#item16238 {
	width:1180px !important;
	height:125px !important;
	background:#253885;
}

#item11201 {
	width:77px !important;
	height:65px !important;
}

#item11197 {
	width:77px !important;
	height:65px !important;
}

#item11194 {
	width:77px !important;
	height:65px !important;
	left:1053px !important;
	top:30px !important;
}

#item14255 {
	width:1020px !important;
	left:50px !important;
	top:170px !important;
	min-height:22px !important;
}

#item14280 {
	width:39px !important;
	height:6px !important;
	left:50px !important;
	top:204px !important;
	background:#f28620;
}

#item14281 {
	width:240px !important;
	left:50px !important;
	top:411px !important;
	min-height:231px !important;
}

#item14306 {
	width:240px !important;
	left:610px !important;
	top:245px !important;
	min-height:396px !important;
}

#item14331 {
	width:227px !important;
	left:890px !important;
	top:245px !important;
	min-height:396px !important;
}

#item14808 {
	width:77px !important;
	height:65px !important;
}

#item14805 {
	width:77px !important;
	height:65px !important;
	left:971px !important;
	top:30px !important;
}

#item30767 {
	width:143px !important;
	height:54px !important;
}

#item30763 {
	width:143px !important;
	height:54px !important;
}

#item30760 {
	width:143px !important;
	height:54px !important;
	left:50px !important;
	top:30px !important;
}

#item38497 {
	width:143px !important;
	height:54px !important;
}

#item38494 {
	width:143px !important;
	height:54px !important;
	left:407px !important;
	top:35px !important;
}

#item38525 {
	width:92px !important;
	height:54px !important;
}

#item38522 {
	width:92px !important;
	height:54px !important;
	left:265px !important;
	top:35px !important;
}

#item38554 {
	width:152px !important;
	height:54px !important;
}

#item38550 {
	width:152px !important;
	height:54px !important;
	left:608px !important;
	top:35px !important;
}

#item38582 {
	width:100px !important;
	height:54px !important;
}

#item38579 {
	width:100px !important;
	height:54px !important;
	left:817px !important;
	top:35px !important;
}

#item16237 {
	width:1180px !important;
	height:125px !important;
	background:#253885;
}

#item11254 {
	width:77px !important;
	height:65px !important;
}

#item11246 {
	width:77px !important;
	height:65px !important;
}

#item11243 {
	width:77px !important;
	height:65px !important;
	left:1053px !important;
	top:30px !important;
}

#item14500 {
	width:240px !important;
	left:50px !important;
	top:245px !important;
	min-height:245px !important;
}

#item14525 {
	width:267px !important;
	left:603px !important;
	top:245px !important;
	min-height:245px !important;
}

#item14550 {
	width:224px !important;
	left:906px !important;
	top:525px !important;
	min-height:186px !important;
}

#item14579 {
	width:1020px !important;
	left:50px !important;
	top:170px !important;
	min-height:22px !important;
}

#item14604 {
	width:39px !important;
	height:6px !important;
	left:50px !important;
	top:204px !important;
	background:#f28620;
}

#item14814 {
	width:77px !important;
	height:65px !important;
}

#item14811 {
	width:77px !important;
	height:65px !important;
	left:971px !important;
	top:30px !important;
}

#item30778 {
	width:143px !important;
	height:54px !important;
}

#item30774 {
	width:143px !important;
	height:54px !important;
}

#item30770 {
	width:143px !important;
	height:54px !important;
	left:50px !important;
	top:30px !important;
}

#item38623 {
	width:143px !important;
	height:54px !important;
}

#item38620 {
	width:143px !important;
	height:54px !important;
	left:407px !important;
	top:35px !important;
}

#item38652 {
	width:92px !important;
	height:54px !important;
}

#item38648 {
	width:92px !important;
	height:54px !important;
	left:265px !important;
	top:35px !important;
}

#item38680 {
	width:152px !important;
	height:54px !important;
}

#item38677 {
	width:152px !important;
	height:54px !important;
	left:608px !important;
	top:35px !important;
}

#item38708 {
	width:100px !important;
	height:54px !important;
}

#item38705 {
	width:100px !important;
	height:54px !important;
	left:817px !important;
	top:35px !important;
}

#item16236 {
	width:1180px !important;
	height:125px !important;
	background:#253885;
}

#item11300 {
	width:77px !important;
	height:65px !important;
}

#item11296 {
	width:77px !important;
	height:65px !important;
}

#item11292 {
	width:77px !important;
	height:65px !important;
	left:1053px !important;
	top:30px !important;
}

#item14821 {
	width:77px !important;
	height:65px !important;
}

#item14818 {
	width:77px !important;
	height:65px !important;
	left:971px !important;
	top:30px !important;
}

#item14852 {
	width:587px !important;
	left:50px !important;
	top:170px !important;
	min-height:22px !important;
}

#item14877 {
	width:39px !important;
	height:6px !important;
	left:50px !important;
	top:204px !important;
	background:#f28620;
}

#item14878 {
	width:240px !important;
	left:50px !important;
	top:245px !important;
	min-height:173px !important;
}

#item14903 {
	width:240px !important;
	left:610px !important;
	top:500px !important;
	min-height:245px !important;
}

#item14928 {
	width:240px !important;
	left:890px !important;
	top:500px !important;
	min-height:245px !important;
}

#item30792 {
	width:143px !important;
	height:54px !important;
}

#item30786 {
	width:143px !important;
	height:54px !important;
}

#item30783 {
	width:143px !important;
	height:54px !important;
	left:50px !important;
	top:30px !important;
}

#item38775 {
	width:143px !important;
	height:54px !important;
}

#item38772 {
	width:143px !important;
	height:54px !important;
	left:407px !important;
	top:35px !important;
}

#item38803 {
	width:92px !important;
	height:54px !important;
}

#item38800 {
	width:92px !important;
	height:54px !important;
	left:265px !important;
	top:35px !important;
}

#item38831 {
	width:152px !important;
	height:54px !important;
}

#item38828 {
	width:152px !important;
	height:54px !important;
	left:608px !important;
	top:35px !important;
}

#item38859 {
	width:100px !important;
	height:54px !important;
}

#item38856 {
	width:100px !important;
	height:54px !important;
	left:817px !important;
	top:35px !important;
}

#item8506 {
	width:73px !important;
	height:73px !important;
	left:943px !important;
	top:555px !important;
}

#item37937 {
	width:73px !important;
	height:73px !important;
	left:722px !important;
	top:555px !important;
}

#item37941 {
	width:73px !important;
	height:73px !important;
	left:614px !important;
	top:555px !important;
}

#item37932 {
	width:73px !important;
	height:73px !important;
	left:834px !important;
	top:555px !important;
}

#item8513 {
	width:73px !important;
	height:73px !important;
	left:1053px !important;
	top:555px !important;
}

#item8484 {
	width:73px !important;
	height:73px !important;
	left:1053px !important;
	top:433px !important;
}

#item37945 {
	width:73px !important;
	height:73px !important;
	left:943px !important;
	top:433px !important;
}

#item37948 {
	width:73px !important;
	height:73px !important;
	left:834px !important;
	top:433px !important;
}

#item8456 {
	width:73px !important;
	height:73px !important;
	left:614px !important;
	top:433px !important;
}

#item37927 {
	width:73px !important;
	height:73px !important;
	left:722px !important;
	top:433px !important;
}

#item16229 {
	width:1180px !important;
	height:125px !important;
	background:#253885;
}

#item4416 {
	width:1180px !important;
	height:115px !important;
	top:705px !important;
	background:#253885;
}

#item1582 {
	width:254px !important;
	left:50px !important;
	top:170px !important;
	min-height:22px !important;
}

#item1615 {
	width:515px !important;
	left:50px !important;
	top:245px !important;
	min-height:81px !important;
}

#item2286 {
	width:515px !important;
	left:50px !important;
	top:361px !important;
	min-height:43px !important;
}

#item2338 {
	width:200px !important;
	left:50px !important;
	top:434px !important;
	min-height:11px !important;
}

#item2603 {
	width:17px !important;
	left:275px !important;
	top:459px !important;
	min-height:11px !important;
}

#item2735 {
	width:17px !important;
	left:548px !important;
	top:459px !important;
	min-height:11px !important;
}

#item2628 {
	width:17px !important;
	left:275px !important;
	top:505px !important;
	min-height:11px !important;
}

#item2760 {
	width:17px !important;
	left:548px !important;
	top:505px !important;
	min-height:11px !important;
}

#item2653 {
	width:17px !important;
	left:275px !important;
	top:551px !important;
	min-height:11px !important;
}

#item2786 {
	width:17px !important;
	left:548px !important;
	top:551px !important;
	min-height:11px !important;
}

#item2678 {
	width:17px !important;
	left:275px !important;
	top:598px !important;
	min-height:11px !important;
}

#item2811 {
	width:17px !important;
	left:548px !important;
	top:598px !important;
	min-height:11px !important;
}

#item2703 {
	width:17px !important;
	left:275px !important;
	top:644px !important;
	min-height:11px !important;
}

#item2836 {
	width:17px !important;
	left:548px !important;
	top:644px !important;
	min-height:11px !important;
}

#item2472 {
	width:200px !important;
	left:323px !important;
	top:434px !important;
	min-height:11px !important;
}

#item2497 {
	width:200px !important;
	left:323px !important;
	top:482px !important;
	min-height:11px !important;
}

#item2522 {
	width:200px !important;
	left:323px !important;
	top:531px !important;
	min-height:11px !important;
}

#item2547 {
	width:200px !important;
	left:323px !important;
	top:575px !important;
	min-height:11px !important;
}

#item2573 {
	width:200px !important;
	left:323px !important;
	top:621px !important;
	min-height:11px !important;
}

#item2364 {
	width:200px !important;
	left:50px !important;
	top:482px !important;
	min-height:11px !important;
}

#item2389 {
	width:200px !important;
	left:50px !important;
	top:531px !important;
	min-height:11px !important;
}

#item2414 {
	width:200px !important;
	left:50px !important;
	top:575px !important;
	min-height:11px !important;
}

#item2439 {
	width:200px !important;
	left:50px !important;
	top:621px !important;
	min-height:11px !important;
}

#item2295 {
	width:515px !important;
	left:615px !important;
	top:361px !important;
	min-height:42px !important;
}

#item2928 {
	width:73px !important;
	height:23px !important;
	left:614px !important;
	top:513px !important;
}

#item3189 {
	width:63px !important;
	height:24px !important;
	left:619px !important;
	top:458px !important;
}

#item3218 {
	width:63px !important;
	height:24px !important;
	left:727px !important;
	top:458px !important;
}

#item3243 {
	width:63px !important;
	height:24px !important;
	left:839px !important;
	top:458px !important;
}

#item3268 {
	width:63px !important;
	height:24px !important;
	left:949px !important;
	top:458px !important;
}

#item3294 {
	width:63px !important;
	height:24px !important;
	left:1058px !important;
	top:458px !important;
}

#item3319 {
	width:63px !important;
	height:24px !important;
	left:619px !important;
	top:580px !important;
}

#item3344 {
	width:63px !important;
	height:24px !important;
	left:727px !important;
	top:580px !important;
}

#item3369 {
	width:63px !important;
	height:24px !important;
	left:839px !important;
	top:580px !important;
}

#item3394 {
	width:63px !important;
	height:24px !important;
	left:949px !important;
	top:580px !important;
}

#item3429 {
	width:63px !important;
	height:24px !important;
	left:1058px !important;
	top:580px !important;
}

#item2954 {
	width:73px !important;
	height:23px !important;
	left:722px !important;
	top:513px !important;
}

#item2979 {
	width:73px !important;
	height:23px !important;
	left:834px !important;
	top:513px !important;
}

#item3007 {
	width:73px !important;
	height:23px !important;
	left:943px !important;
	top:513px !important;
}

#item3032 {
	width:74px !important;
	height:23px !important;
	left:1053px !important;
	top:513px !important;
}

#item3057 {
	width:73px !important;
	height:23px !important;
	left:614px !important;
	top:635px !important;
}

#item3086 {
	width:73px !important;
	height:23px !important;
	left:722px !important;
	top:635px !important;
}

#item3111 {
	width:73px !important;
	height:23px !important;
	left:834px !important;
	top:635px !important;
}

#item3138 {
	width:73px !important;
	height:23px !important;
	left:943px !important;
	top:635px !important;
}

#item3163 {
	width:73px !important;
	height:23px !important;
	left:1053px !important;
	top:635px !important;
}

#item3620 {
	width:460px !important;
	height:156px !important;
	left:670px !important;
	top:170px !important;
	border:solid 1px #2f3334;
}

#item3592 {
	width:207px !important;
	left:742px !important;
	top:204px !important;
	min-height:94px !important;
}

#item3636 {
	width:26px !important;
	left:1009px !important;
	top:212px !important;
	min-height:9px !important;
}

#item3737 {
	width:41px !important;
	left:1060px !important;
	top:212px !important;
	min-height:9px !important;
}

#item3767 {
	width:31px !important;
	left:1060px !important;
	top:234px !important;
	min-height:9px !important;
}

#item3792 {
	width:37px !important;
	left:1060px !important;
	top:258px !important;
	min-height:9px !important;
}

#item3817 {
	width:44px !important;
	left:1060px !important;
	top:281px !important;
	min-height:9px !important;
}

#item3662 {
	width:21px !important;
	left:1013px !important;
	top:234px !important;
	min-height:9px !important;
}

#item3687 {
	width:30px !important;
	left:1005px !important;
	top:257px !important;
	min-height:9px !important;
}

#item3712 {
	width:49px !important;
	left:985px !important;
	top:281px !important;
	min-height:9px !important;
}

#item3621 {
	width:49px !important;
	height:85px !important;
	left:648px !important;
	top:197px !important;
	background:#ffffff;
}

#item4438 {
	width:1079px !important;
	left:50px !important;
	top:736px !important;
	min-height:17px !important;
}

#item4746 {
	width:39px !important;
	height:6px !important;
	left:50px !important;
	top:204px !important;
	background:#f28620;
}

#item8045 {
	width:112px !important;
	height:97px !important;
	left:614px !important;
	top:202px !important;
}

#item8060 {
	width:14px !important;
	height:97px !important;
	left:1040px !important;
	top:202px !important;
}

#item8086 {
	width:77px !important;
	height:65px !important;
}

#item8075 {
	width:77px !important;
	height:65px !important;
}

#item8081 {
	width:77px !important;
	height:65px !important;
	left:1053px !important;
	top:30px !important;
}

#item30805 {
	width:143px !important;
	height:54px !important;
}

#item30799 {
	width:143px !important;
	height:54px !important;
}

#item30796 {
	width:143px !important;
	height:54px !important;
	left:50px !important;
	top:30px !important;
}

#item37902 {
	width:218px !important;
	height:18px !important;
	left:50px !important;
	top:456px !important;
	border-radius:12px;
	background:#d0cece;
}

#item37903 {
	width:211px !important;
	height:18px !important;
	left:50px !important;
	top:456px !important;
	border-radius:12px;
	background:#253885;
}

#item37904 {
	width:218px !important;
	height:18px !important;
	left:50px !important;
	top:502px !important;
	border-radius:12px;
	background:#d0cece;
}

#item37906 {
	width:218px !important;
	height:18px !important;
	left:50px !important;
	top:548px !important;
	border-radius:12px;
	background:#d0cece;
}

#item37905 {
	width:207px !important;
	height:18px !important;
	left:50px !important;
	top:502px !important;
	border-radius:12px;
	background:#253885;
}

#item37907 {
	width:207px !important;
	height:18px !important;
	left:50px !important;
	top:548px !important;
	border-radius:12px;
	background:#253885;
}

#item37908 {
	width:218px !important;
	height:18px !important;
	left:50px !important;
	top:595px !important;
	border-radius:12px;
	background:#d0cece;
}

#item37909 {
	width:201px !important;
	height:18px !important;
	left:50px !important;
	top:595px !important;
	border-radius:12px;
	background:#253885;
}

#item37910 {
	width:218px !important;
	height:18px !important;
	left:50px !important;
	top:641px !important;
	border-radius:12px;
	background:#d0cece;
}

#item37912 {
	width:218px !important;
	height:18px !important;
	left:323px !important;
	top:456px !important;
	border-radius:12px;
	background:#d0cece;
}

#item37911 {
	width:197px !important;
	height:18px !important;
	left:50px !important;
	top:641px !important;
	border-radius:12px;
	background:#253885;
}

#item37913 {
	width:197px !important;
	height:18px !important;
	left:323px !important;
	top:456px !important;
	border-radius:12px;
	background:#253885;
}

#item37914 {
	width:218px !important;
	height:18px !important;
	left:323px !important;
	top:502px !important;
	border-radius:12px;
	background:#d0cece;
}

#item37916 {
	width:218px !important;
	height:18px !important;
	left:323px !important;
	top:548px !important;
	border-radius:12px;
	background:#d0cece;
}

#item37918 {
	width:218px !important;
	height:18px !important;
	left:323px !important;
	top:595px !important;
	border-radius:12px;
	background:#d0cece;
}

#item37915 {
	width:193px !important;
	height:18px !important;
	left:323px !important;
	top:502px !important;
	border-radius:12px;
	background:#253885;
}

#item37917 {
	width:193px !important;
	height:18px !important;
	left:323px !important;
	top:548px !important;
	border-radius:12px;
	background:#253885;
}

#item37919 {
	width:193px !important;
	height:18px !important;
	left:323px !important;
	top:595px !important;
	border-radius:12px;
	background:#253885;
}

#item37920 {
	width:218px !important;
	height:18px !important;
	left:323px !important;
	top:641px !important;
	border-radius:12px;
	background:#d0cece;
}

#item37922 {
	width:188px !important;
	height:18px !important;
	left:323px !important;
	top:641px !important;
	border-radius:12px;
	background:#253885;
}

#item38903 {
	width:143px !important;
	height:54px !important;
}

#item38900 {
	width:143px !important;
	height:54px !important;
	left:407px !important;
	top:35px !important;
}

#item38932 {
	width:92px !important;
	height:54px !important;
}

#item38928 {
	width:92px !important;
	height:54px !important;
	left:265px !important;
	top:35px !important;
}

#item38961 {
	width:152px !important;
	height:54px !important;
}

#item38958 {
	width:152px !important;
	height:54px !important;
	left:608px !important;
	top:35px !important;
}

#item38989 {
	width:100px !important;
	height:54px !important;
}

#item38986 {
	width:100px !important;
	height:54px !important;
	left:817px !important;
	top:35px !important;
}
#in5footer,  #prefooter {display:none;}

#loadIndicator{display:none;}
